@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary:#000;
    --darkgreen:rgba(7,134,13);
    --primary:#000;
    --primary:#000;
    --primary:#000;
    --greengradient:radial-gradient(at bottom, rgba(7, 134, 13, 0.315) 0%, rgba(255,255,255,0) 50%);
}
.bg-green-tp{
    background:rgba(7, 134, 13, 0.103);
}
.green-gd{
    background: var(--greengradient);
}

.green-gd:after{
    content:'';
    width:300px;
    height: 300px;
    position:absolute;
    top:0px;
    left:0px;
    background:radial-gradient(at top left, rgba(7, 134, 13, 0.315) 0%, rgba(255,255,255,0) 50%); ;
}

.green-gd:before{
    content:'';
    width:300px;
    height: 300px;
    position:absolute;
    top:10vh;
    right:0px;
    background:radial-gradient(at center, rgba(7, 134, 13, 0.315) 0%, rgba(255,255,255,0) 50%); ;
}

.darkgradient{
    position:relative;
}
.darkgradient:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0));
}

.backgroundpattern{
    background-image:url('../src/assets/backgroundpattern.png');
}